$flex-values: row, column;
$justify-values: start, end, center, space-between, space-around;
$align-values: start, end, center;

@each $val in $flex-values {
  .flex-#{$val} {
    flex-direction: $val;
  }
}

@each $val in $justify-values {
  .justify-#{$val} {
    justify-content: $val;
  }
}

@each $val in $align-values {
  .items-#{$val} {
    align-items: $val;
  }
}
