@import "variables";
@import "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1;
  font-weight: 300;
  color: $color-primary;
  background-color: $color-background;
}

// Pricing
.max-w-117 {
  max-width: 117rem;
}

.my-18 {
  margin: 18rem 0;
}

.gap-2 {
  gap: 2rem;
}

.gap-4 {
  gap: 4rem;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-12 {
  width: 12rem;
}

.h-12 {
  height: 12rem;
}

.w-36 {
  width: 36rem;
}

.h-27 {
  height: 27rem;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-image-ocean {
  background-image: url(../images/ocean.png);
}

.bg-image-mountain {
  background-image: url(../images/mountain.png);
}

.bg-image-forest {
  background-image: url(../images/forest.png);
}

.bg-left-bottom {
  background-position: left bottom;
}

.opacity-70 {
  opacity: 0.7;
}

.-translate-x-y-1\/2 {
  transform: translate(-50%, -50%);
}

.-translate-x-y-1\/5 {
  transform: translate(-20%, -20%);
}

.z-1 {
  z-index: 1;
}

.left-1\/2 {
  left: 50%;
}

.right-1\/2 {
  right: 50%;
}

.top-1\/2 {
  top: 50%;
}

.bottom-1\/2 {
  bottom: 50%;
}

.text-sm {
  font-size: 1.4rem;
}

.text-xl {
  font-size: 2.2rem;
}

.text-2xl {
  font-size: 2.6rem;
}

.uppercase {
  text-transform: uppercase;
}

.rounded-full {
  border-radius: 100%;
}

.text-blue {
  color: $color-blue;
}

.text-green {
  color: $color-green;
}

.text-mountain {
  color: $color-mountain;
}

.text-light {
  color: $color-text-light;
}

.text-center {
  text-align: center;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-family: 600;
}

.p-\[25px\] {
  padding: 2.5rem 0;
}

.text-content {
  color: $color-content-text;
}

.text-gray {
  font-size: $color-text-gray;
}

.text-muted {
  color: $color-text-muted;
}

.bg-light {
  background-color: $color-light;
}

.bg-dark {
  background-color: $color-dark;
}

.mb-3 {
  margin-bottom: 3rem;
}

.list-none {
  list-style: none;
}

@for $i from 1 through 100 {
  .info li {
    font-size: 1.5rem;
    padding: 1.75rem 0;
    text-align: center;
  }
  .info :nth-child(odd) {
    background-color: $color-light;
  }
}

.h-15 {
  height: 15rem;
}

.block {
  display: block;
}

.border-0 {
  border: 0;
}

.pointer {
  cursor: pointer;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.border {
  border-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-blue {
  color: $color-border-blue;
}

.border-green {
  color: $color-green;
}

.bg-mountain {
  background-color: $color-mountain;
}

.text-primary {
  color: $color-primary;
}

.gap-8 {
  gap: 8rem;
}

.flex-col {
  flex-direction: column;
}

.xl\:gap-8 {
  @include xl {
    gap: 8rem;
  }
}

.xl\:flex-col {
  @include xl {
    flex-direction: column;
  }
}

.xl\:my-10 {
  @include xl {
    margin: 10rem 0;
  }
}
