:root {
  --color-primary: #ffffff;
  --color-background: #cad3d3;
  --color-accent-blue: #2196f7;
  --color-accent-pink: #d74498;
  --color-accent-green: #32ad1e;
  --color-text-light: #b4c0c9;
  --color-dark: #2c2e3d;
  --color-text-gray: #8a98a1;
  --color-content-text: #9faab2;
  --color-text-muted: #607380;
  --color-background-light: #f4f6f7;
  --color-border-blue: #3fa4f8;
  --color-background-mountain: #6c136f;
}

$bp-largest: 1280px;
$bg-smallest: 576px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin style-button($border-color, $color, $bg-color) {
  border: 1px solid var($border-color);
  color: var($color);
  background-color: var($bg-color);
}

@mixin transform($left, $right, $top, $bottom, $x, $y) {
  position: absolute;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
  transform: translate($x, $y);
  z-index: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-largest) {
    font-size: 80%;
  }
}

body {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1;
  font-weight: 300;
  color: var(--color-primary);
  background-color: var(--color-background);
}

.container {
  @include center;
}

.pricing {
  max-width: 1170px;
  margin: 18rem 0;
  display: flex;
  gap: 4.2rem;

  @media only screen and (max-width: $bp-largest) {
    flex-direction: column;
    gap: 8rem;
    margin: 10rem 0;
  }

  @media only screen and (max-width: $bg-smallest) {
    max-width: 1000px;
    margin: 5rem 0;
  }
}

.card {
  position: relative;

  &__new {
    @include transform(auto, auto, auto, auto, -20%, -20%);
    &-image {
      position: relative;
    }

    &-title {
      @include transform(50%, auto, 50%, auto, -50%, -50%);
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  &__price {
    @include transform(50%, auto, auto, auto, -50%, -50%);
    @include center;
    flex-direction: column;
    gap: 2rem;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--color-primary);
    z-index: 1;

    &-number {
      font-size: 2.6rem;
      color: var(--color-accent-blue);
      text-align: center;

      &--mountain {
        color: var(--color-accent-pink);
      }

      &--forest {
        color: var(--color-accent-green);
      }
    }

    &-title {
      font-size: 1.5rem;
      color: var(--color-text-light);
    }

    &-mountain {
      background-color: var(--color-dark);
    }
  }

  &__header {
    width: 36.2rem;
    height: 27.2rem;
    background-position: left bottom;
    opacity: 0.7;
    @include center;
    @media only screen and (max-width: $bg-smallest) {
      width: 30rem;
      height: 22.5rem;
    }

    &-ocean {
      background-image: url(images/ocean.png);
    }

    &-mountain {
      background-image: url(images/mountain.png);
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &-forest {
      background-image: url(images/forest.png);
    }

    &-secondary {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 2.6rem;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__content {
    color: var(--color-content-text);
    text-align: center;
    padding: 2.5rem;
    background-color: var(--color-primary);

    &-title {
      font-size: 2.2rem;
      color: var(--color-text-gray);
      margin-bottom: 3.2rem;
    }

    &-description {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  &__info {
    font-weight: 400;
    color: var(--color-text-muted);
    background-color: var(--color-primary);
    list-style: none;

    &-item {
      font-size: 1.5rem;
      text-align: center;
      padding: 1.75rem 0;

      &:nth-child(odd) {
        background-color: var(--color-background-light);
      }
    }
  }

  &__button {
    background-color: var(--color-primary);
    height: 15.1rem;
    @include center;
  }
}

.btn {
  font-family: "Montserrat", sans-serif;
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.8rem 3.3rem;
  border: 0;
  cursor: pointer;

  &--ocean {
    @include style-button(
      --color-border-blue,
      --color-border-blue,
      --color-primary
    );
  }

  &--mountain {
    @include style-button(
      --color-background-mountain,
      --color-primary,
      --color-background-mountain
    );
  }

  &--forest {
    @include style-button(
      --color-accent-green,
      --color-accent-green,
      --color-primary
    );
  }
}
