@mixin btn(
  $bg-color: map-get($map: $colors, $key: "purple"),
  $color: map-get($map: $colors, $key: "white")
) {
  display: block;
  font-size: $base-font-size * 1.4;
  text-transform: uppercase;
  padding: $base-font-size * 1.8 $base-font-size * 3.3;
  cursor: pointer;
  color: $color;
  background-color: $bg-color;
  border: 1px solid $color;
}

.btn {
  @include btn;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val, map-get($map: $colors, $key: "white"));
  }
}

@each $key, $val in $colors {
  .btn-outline-#{$key} {
    @include btn(map-get($map: $colors, $key: "white"), $val);
  }
}
